* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 69px;
    background-color: #FAFAFA;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;

    height: 69px;
    width: 100%;

    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    z-index: 30;
}

header h1 {
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;

    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criarQuizz {
    width: 1051px;
    height: 181px;

    margin-top: 77px;

    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.criarQuizz h3 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #B9B9B9;
    line-height: 23px;
}

.criarQuizz .botao-criar-quizz {

    text-align: center;
    font-weight: 400;
    font-size: 21px;
    color: #EC362D;

    border: dashed 1px #EC362D;
    border-radius: 50px;

    padding: 5px 15px;
}

.criarQuizz .botao-criar-quizz, .quizzes, .resposta, .reiniciar, .voltar:hover {
    cursor: pointer;
}

.todosOsQuizzes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    position: relative;

    width: 1051px;

    padding-top: 22px;
    margin-top: 77px;
}

.todosOsQuizzes h2 {
    position: absolute;
    top: -12px;
    left: 0;

    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}


.quizzes {
    display: flex;
    justify-content: center;

    position: relative;

    width: 340px;
    height: 181px;

    margin-bottom: 12px;
    border-radius: 5px;

    background-color: red;
}

.quizzes p {
    position: absolute;
    bottom: 7px;

    width: 100%;
    overflow: hidden;

    text-align: center;

    font-size: 19px;
    line-height: 22px;

    color: #FFFFFF;
}

/*-----------------------------TELA DO QUIZZ------------------------*/

.containerQuizz header{
    width: 100%;
}

.containerQuizz section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 760px;
}

.containerQuizz footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topoQuizz {
    display: flex;
    justify-content: center;
    align-items: center;

    word-break: break-word;

    width: 100%;
    height: 142px;

    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);

    margin-bottom: 42px;
}

.topoQuizz p{
    text-align: center;

    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    
    color: #FFFFFF;
}

.containerPergunta, .containerFinalizar {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    
    padding: 18px;
    margin-bottom: 42px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.perguntaDoQuizz, .tituloFinalizar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 688px;
    height: 138px;

    word-break: break-word;

    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;

    margin-top: 28px;
}

.respostasDoQuizz {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 688px;
}

.resposta {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    
    margin-top: 20px;
}

.textoResposta {
    font-weight: bold;
    /* font-size: 20px; */
    /* font-size: fit-content; */
    line-height: 23px;
    width: 330px;
    overflow: hidden;

    margin-top: 5px;

    color: #000000;
}

.resposta img {
    width: 330px;
    height: 175px;
}

.camadaBranca {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: white;
    opacity: 0.75;
}

.textoVerde {
    color: #009C22;
}

.textoVermelho {
    color: #FF4B4B;
}

.tituloFinalizar {
    background-color: #EC362D;
}

.corpoFinalizar {
    display: flex;
    width: 688px;

    padding-top: 20px;
    gap: 10px;
}

.corpoFinalizar img {
    width: 344px;
}

.textoFinalizar {
    word-break: break-word;

    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}

.reiniciar {
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;

    width: 260.38px;
    height: 52px;
    margin-top: 57px;
    margin-bottom: 16px;

    border: none;
    background: #EC362D;
    border-radius: 15px;
}

.voltar {
    font-size: 21px;
    line-height: 25px;
    color: #818181;

    background-color: #FAFAFA;
    margin-bottom: 16px;
    border: none;
}
 



/*-----------------------------CRIAÇÃO DOS QUIZZES------------------------*/

/*--------------------------INPUTS-------------------*/

.h1-top {
    font-family: "Roboto";
    font-size: 23px;
    font-weight: 700;
    color: black;

    margin-top: 71px;
}

.container-inputs {
    width: 600px;

    display: flex;
    flex-direction: column;

    background-color: white;
    filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.07));

    padding: 13.5px 18px;

    margin-top: 27px;
}

.caixa-input {

    height: 46px;

    margin: 4.5px 0px;

    border-radius: 5px;
    border: 1px solid #D1D1D1;

    padding-left: 10px;

    outline: none
}

.caixa-input::placeholder {

    color: #D1D1D1;
    font-family: "Roboto";
    font-style: italic;
    font-size: 19px;
    font-weight: 400;
}

.h2-container-inputs {

    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    color: black;

    padding-top: 20px;
    padding-bottom: 10px;
}

.container-input-reduzido {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 74px;
    width: 600px;

    background-color: white;
    filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.07));

    padding-left:20px;
    padding-right: 20px;

    margin-top: 27px;
}

.container-input-reduzido h2 {
    padding-top: 10px;
}

.container-input-reduzido:hover {
    cursor: pointer;
}

.separador{
    height: 20px;
}

.imagem-quizz-pronto img {
    width: 500px;
    height: 266px;

    margin-top: 40px;

    border-radius: 20px;
}

/*-----------------------BOTÕES-------------------*/

.botao-prosseguir {

    height: 54px;

    margin-top: 85px;
    margin-bottom: 85px;

    background-color: #EC362D;

    color: white;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;

    padding: 5px 40px;

    border-radius: 15px;
    border: none;
}

.botao-voltar-home {
    color: rgb(179, 179, 179);
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;

    border: none;

    background-color: none;

    margin-top: -60px;
}

.botao-voltar-home:hover {
    cursor: pointer;
}

/*-----------------------DISPLAY-------------------*/

.informacoes-basicas {
    display: none;
}

.criar-perguntas {
    display: none;
}

.criar-níveis {
    display:none;
}

.quizz-pronto{
    display: none;
}

.mostrar {
    display: flex;
}

.esconder {
    display: none;
}

.mostrar-container-input{
    display: flex;
}

.mostrar-container-reduzido{
    display: flex;
}

.mostrar-container-input-nivel{
    display: flex;
}
/*-----------------------------RESPONSIVO------------------------*/

@media (max-width: 1100px) {
    .lista-quizzes {
        padding: 0 18px;
    }
    .todosOsQuizzes {
        justify-content: center;
        gap: 5px;
    }
    .todosOsQuizzes, .criarQuizz {
        width: 100%;
    }
}

@media (max-width: 760px) {
    .containerQuizz section, .perguntaDoQuizz, .respostasDoQuizz, .tituloFinalizar, .corpoFinalizar{
        width: 100%;
    }

    .corpoFinalizar {
        flex-wrap: wrap;
    }

    .respostasDoQuizz{
        align-items: center;
    }

    .resposta img {
        width: 300px;
        height: 135px;
    }

}

@media (max-width: 500px) {
    .resposta img {
        width: 163px;
        height: 113px;
    }

    .textoResposta {
        width: 163px;
    }
}

@media (max-width: 600px) {

    .container-inputs {
        width: 100%;
    }

    .container-input-reduzido {
        width: 100vw;
    }
}